@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+KR&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    /* outline: 1px solid aqua; */
}

body {
    min-width: 1200px;
    max-width: 1920px;
}

.is-ie body {
    overflow-x: hidden;
}

img {
    display: block;
}

span {
    font: inherit;
}

a {
    font: inherit;
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.inner {
    width: 1200px;
}

.nav,
.slider {
    display: flex;
    height: 100vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider {
    border-top: 1px solid rgba(255,255,255,0.2);
    flex-direction: column;
    align-items: center;
}

.slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    color: #03dac6;
    transition: all 0.3s ease;
}

.menu {
    display: none;
}

h1:hover, .about h4:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

div.span {
    display: flex;
}

div.span p {
    font-size: 4vw;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #03dac6;
}

.nav-container {
    display: flex;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.nav-container.on {
    position: fixed;
    top: 0;
    bottom: auto;
}

.is-ie .nav-container {
    left: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    color: #03dac6;
    transition: all 0.5s ease;
    font-size: 2.5vw;
}

.nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
}

.particles-js-canvas-el {
    position: fixed;
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    max-width: 1920px;
    top: 0;
    left: 0;
    z-index: 1;
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
    to {
        text-shadow: 20px 0 70px #03dac6;
        color: #03dac6;
    }
}

.loader p:nth-child(1) span:nth-of-type(2) {animation-delay: 0.1s;}
.loader p:nth-child(1) span:nth-of-type(3) {animation-delay: 0.2s;}
.loader p:nth-child(2) span:nth-of-type(1) {animation-delay: 0.3s;}
.loader p:nth-child(2) span:nth-of-type(2) {animation-delay: 0.4s;}
.loader p:nth-child(2) span:nth-of-type(3) {animation-delay: 0.5s;}
.loader p:nth-child(2) span:nth-of-type(4) {animation-delay: 0.6s;}
.loader p:nth-child(2) span:nth-of-type(5) {animation-delay: 0.7s;}
.loader p:nth-child(2) span:nth-of-type(6) {animation-delay: 0.8s;}
.loader p:nth-child(2) span:nth-of-type(7) {animation-delay: 0.9s;}
.loader p:nth-child(2) span:nth-of-type(8) {animation-delay: 1s;}
.loader p:nth-child(2) span:nth-of-type(9) {animation-delay: 1.1s;}
.loader p:nth-child(2) span:nth-of-type(10) {animation-delay: 1.2s;}
.loader p:nth-child(3) span:nth-of-type(1) {animation-delay: 1.3s;}
.loader p:nth-child(3) span:nth-of-type(2) {animation-delay: 1.4s;}
.loader p:nth-child(3) span:nth-of-type(3) {animation-delay: 1.5s;}
.loader p:nth-child(3) span:nth-of-type(4) {animation-delay: 1.6s;}
.loader p:nth-child(3) span:nth-of-type(5) {animation-delay: 1.7s;}
.loader p:nth-child(3) span:nth-of-type(6) {animation-delay: 1.8s;}
.loader p:nth-child(3) span:nth-of-type(7) {animation-delay: 1.9s;}
.loader p:nth-child(3) span:nth-of-type(8) {animation-delay: 2s;}
.loader p:nth-child(3) span:nth-of-type(9) {animation-delay: 2.1s;}

h1, h4, h6, p, section > div {
    z-index: 1;
}
/* about-------------------------------------------------------------------- */
.me, .about p {
    margin-top: 50px;
}

.me li, .about p {
    color: #faebd7;
    font-size: 2.5rem;
    text-align: left;
}

.me li:last-child {
    padding-left: 139px;
}

.about h1:nth-of-type(2) {
    margin-top: 100px;
}

/* works-------------------------------------------------------------------- */
.swiper {
    display: flex;
    width: 1200px;
    height: 600px;
    background: rgba(255,255,255,0.1);
}

.swiper-pagination-bullet {
    width: 100px;
    height: 10px;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: #03dac6;
}

.swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
}

.imgbox {
    width: 60%;
    height: 405px;
    overflow: hidden;
}

.imgbox img {
    width: 100%;
    transform: translateY(0);
}

.img2.on {
    transform: translateY(-100%);
}

.imgbox1 .img2.on {
    transition: ease-in-out 3.5s;
}
.imgbox2 .img2.on {
    transition: ease-in-out 3s;
}

.imgbox4 .img2.on {
    transition: ease-in-out 2.5s;
}

.textbox {
    width: 40%;
    text-align: left;
    padding: 0 20px;
}

.textbox h4 {
    font-size: 4rem;
    font-weight: bold;
    color: #03dac6;
}

.textbox p {
    font-size: 1.8rem;
    color: rgba(255,255,255,0.9);
    text-align: justify;
}

.textbox > div {
    margin-top: 20px;
}

.textbox h5 {
    font-size: 2.2rem;
    color: rgba(255,255,255,0.9);
}

.browser {
    display: flex;
    padding: 10px;
}

.browser img {
    width: 30px;
    margin-right: 10px;
}

.link {
    display: flex;
}

.link a {
    display: block;
    padding: 10px 20px;
    font-size: 1.5rem;
    background: rgba(255,255,255,0.3);
    margin-right: 10px;
    color: #1e1f26;
}

.link a:hover {
    background: rgba(255,255,255,0.6);
}

/* contact-------------------------------------------------------------------- */
.info {
    margin:20px 0;
    z-index: 1;
}

.info p {
    font-size: 3vw;
    font-weight: bold;
    color: #faebd7;
}

form {
    width: 1000px;
    z-index: 1;
}

form > div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form p {
    font-size: 3vw;
    color: #03dac6;
}

form input[type=text] {
    width: 300px;
    font-size: 2rem;
    padding: 10px 5px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    font-size: 2rem;
    padding: 5px;
    resize: none;
}

.submitbtn {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1e1f26;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}