body {
    min-width: 320px;
    max-width: 767px;
}

.slider h1 {
    font-size: 8vw;
}

.menu {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/menu.svg) no-repeat center / cover;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 3;
}

.nav-container {
    display: none;
    width: 50%;
    height: auto;
    position: fixed;
    top: 60px;
    right: 0;
    bottom: auto;
}

.is-ie .nav-container {
    left: auto;
}

.nav-tab {
    display: block;
    width: 100%;
    font-size: 4vw;
    padding: 20px;
    border-bottom: 1px dotted #03dac6;
}

.nav-tab:last-child {
    border: none;
}
/* about-------------------------------------------------------------------- */

.me, .about p {
    margin-top: 30px;
}

.textbox {
    width: 100vw;
}

.textbox h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #03dac6;
}

.textbox p {
    font-size: 1.3rem;
    color: rgba(255,255,255,0.9);
    text-align: justify;
}

.textbox h5 {
    font-size: 1.8rem;
    color: rgba(255,255,255,0.9);
}

.browser img {
    width: 20px;
    margin-right: 10px;
}

.link a {
    padding: 5px 20px;
    font-size: 1.3rem;
}

.swiper-pagination-bullet {
    width: 10vw;
}
/* contact-------------------------------------------------------------------- */

form p, .info p {
    font-size: 4vw;
}

form input[type=text], textarea, .submitbtn {
    font-size: 3vw;
}