@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button.create {
    display: flex;
    width: 200px;
    height: 100px;
    margin: 100px auto;
    border: none;
    background: cornflowerblue;
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button.create:hover {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.result {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    justify-content: space-between;
}

.result span{
    display: inline-block;
    position:relative;
    width: 60px;
    color: white;
}

.result span:before{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:-1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: cornflowerblue;
    transform: translate(-50%, -48%);
    content: '';
}

.history {
    width: 500px;
    margin: 100px auto;
    border-collapse: collapse;
}

.history th, .history td{
    padding: 5px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
}
.history th{
    width: 30%;
}
.history td{
    width: 70%;
}

.nankai {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:5;
    padding: 10px 20px;
    border: none;
    background-color: #3a853a;
    font-family: 'Jua', sans-serif;
    font-size: 24px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.nankai:hover {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.about {
    display: none;
    position: fixed;
    top: 30%;
    left: 0;
    z-index:4;
    background-color: #f6f8f9;
    font-size: 0;
    opacity:0.9;
}

.about.on {
    display: block;
}

.about p {
    display: inline-block;
    width: 10%;
    font-size: 16px;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

.about p span {
    font-weight: bold;
}


@media all and (max-width:800px){
    .result {
        width: 90vw;
    }

    .result span{
        font-size: 6vw;
    }

    .result span:before{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index:-1;
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        background-color: cornflowerblue;
        transform: translate(-50%, -48%);
        content: '';
    }

    .history {
        width: 100vw;
        font-size: 5vw;
    }

    .about {
        height: 60vh;
        overflow-y: auto;
    }

    .about p {
        width: 100%;
        font-size: 24px;
    }
}