@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
    /* outline: 1px solid aqua; */
}


body {
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
}

.is-ie body {
    overflow-x: hidden;
}

img {
    display: block;
}

.is-ie img {
    border: none;
}

li {
    list-style: none;
}

a, b, span {
    font: inherit;
    text-decoration: none;
    color: inherit;
}

input[type=text] {
    width: 80%;
}

option {
    font: inherit;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 ------------------------------------------------------------------------------*/
header {
    width: 100%;
    background-color: white;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.login a {
    font-size: 1.4rem;
    padding: 0 10px;
    border-right: 1px solid #c4c4c4;
    color: #111;
}

.login > div a:last-child {
    border: none;
}

.gnb {
    border-bottom: 1px solid #111;
}

.gnb > .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.is-ie .gnb > .inner {
    height: 70px;
}

.logo {
    width: 280px;
}

.is-ie .logo {
    height: 70px;
}

.gnbsns {
    display: none;
}

.nav {
    display: flex;
}

.nav > li {
    color: #111;
    height: 70px;
    z-index: 3;
}

.nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    font-size: 2rem;
}

#navbar {
    position: absolute;
    width: 150px;
    height: 5px;
    background: #ff0000;
    top: 105px;
    display: none;
    z-index: 2;
}

.snb {
    width: 1920px;
    display: none;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: -360px;
    padding: 30px 0;
    background: white;
    border-top: 1px solid #333;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.snb.on {
    display: flex;
}

.snb > div {
    width: 250px;
    height: 280px;
    border-left: 1px solid #c4c4c4;
}

.snb > div:last-child {
    border-right: 1px solid #c4c4c4;
}

.snb p, .snb li {
    padding-left: 20px;
}

.snb p {
    font-size: 1.6rem;
    color: #146DFA;
    font-weight: bold;
    margin-bottom: 20px;
}

.snb > div > p:nth-of-type(2) {
    margin-top: 20px;
}

.snb li {
    font-size: 1.4rem;
    margin-top: 8px;
    color: #333;
}

.is-ie .snb li {
    overflow: hidden;
}

.snb li:hover {
    color: #146DFA;
}

.menu, .menuclose {
    display: none;
}

.reactmenu {
    display: none;
}

/* 섹션1 ------------------------------------------------------------------------------*/
.slide {
    height: 40vw;
    background-color: #c4c4c4;
    position: relative;
}

.bg {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
}

/* 슬라이드 */
.swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.swiper-slide {
    display: flex;
}

.swiper img {
    width: 100%;
    height: 100%;
}

.swiper-button-next, .swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    background-size: 25px 25px;
    margin: 0 50px;
    transform: translateY(-50%);
}

:root {
    --swiper-theme-color: #146DFA;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    width: auto;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    opacity: 1;
    background: rgba(155, 155, 155, 0.8);
    border-radius: 5px;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #146DFA;
}

/* 열차조회창 -------------------------------------*/
.searchbox {
    position: absolute;
    top: 40vw;
    left: 50%;
    transform: translate(-50%, -65px);
}

.slide.on .bg {
    display: block;
    z-index: 998;
}

.slide.on .searchbox {
    z-index: 999;
}

.ticket {
    display: flex;
}

.ticket li {
    width: 200px;
    font-size: 2.4rem;
    color: white;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.ticket li:nth-child(1) {background: rgba(0, 78, 255, 0.9);}
.ticket li:nth-child(2) {background: rgba(43, 123, 250, 0.9);}
.ticket li:nth-child(3) {background: rgba(66, 138, 251, 0.9);}
.ticket li:nth-child(4) {background: rgba(90, 152, 251, 0.9);}

.ticket li:hover, .ticket li.on {
    background: white;
    color: #146DFA;
}

.mainfrm {
    border-radius: 0 0 10px 10px;
    padding: 15px 50px;
    font-size: 1.5rem;
    background: white;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}

.radiobtn label, .radiobtn input {
    font-size: 1.5rem;
}

.radiobtn label {
    margin-right: 30px;
}

.tripInfomation {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
}

.tripInfomation::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
    position: absolute;
    top: 50%;
}

.is-ie .tripInfomation::after {
    left: 0;
}

.tripInfomation > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.tripInfomation p, .tripInfomation select {
    font-size: 1.8rem;
    text-align: center;
    height: 65px;
}

.tripInfomation > div > p:last-child {
    margin-bottom: 0;
}

.tripInfomation select {
    width: 100%;
    border: none;
    background-color: #f9f9f9;
}

.tripInfomation input[type=text] {
    font-size: 1.8rem;
    text-align: center;
    border: none;
}

.tripInfoTicket p {
    display: none;
    width: 180px;
    background-color: #f9f9f9;
}

.tripInfoTicket p:nth-child(4) {
    border-top: none;
    border-bottom: none;
}

.tripInfoTicket p.on {
    display: flex;
}

.tripInfoTicket p, .tripInfoPoint p {
    justify-content: center;
    align-items: center;
}

.tripInfoPoint p {
    display: flex;
    width: 200px;
    padding: 0 5px;
    cursor: pointer;
    background: #f9f9f9;
}

.tripInfoNumber {
    display: flex;
    flex-direction: column;
}

.dateTime {
    width: 710px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.dateTime input {
    font-size: 1.8rem;
    padding: 0 5px 0 20px;
}

.is-ie .dateTime input {
    width: 45%;
    text-align: center;
    padding: 0;
}

.roundtrip {
    display: none;
}

.roundtrip.on {
    display: inline;
}

.roundtrip::after {
    content: "";
    width: 1px;
    height: 64px;
    background: #c4c4c4;
    position: absolute;
    top: 0;
    left: 50%;
}

.tripInfoNumber > div {
    display: flex;
    justify-content: space-between;
}

.tripInfoNumber > div > p {
    cursor: pointer;
}

.tripInfoNumber > div > p:first-child {
    background: #f9f9f9;
    width: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.searchbtn {
    background: #146DFA;
    color: white;
    line-height: 65px;
    width: 100px;
    border-bottom: none;
}

.tripInfoNumber > div > p > span:first-child {
    font-size: 1.5rem;
}


/* 티켓구매옵션 -------------------------------------*/
.subfrm {
    width: 800px;
    background: white;
    display: none;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
}

.subfrm > div:nth-child(2) {
    display: none;
}

.subfrm.on {
    display: block;
}

.frmclose {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: url(../img/close.svg) no-repeat center / cover;
    cursor: pointer;
}

/* 역 선택---------------------------- */
.whereStation {
    padding: 20px;
}

#stationSearch {
    width: 30%;
    display: block;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}

.whereStation ul {
    display: flex;
    flex-flow: row wrap;
}

.whereStation li {
    text-align: center;
    font-size: 1.7rem;
    cursor: pointer;
}

.is-ie .whereStation li {
    overflow: hidden;
}

.whereStation h2 {
    font-size: 2rem;
    text-align: center;
}

.whereStation > div {
    margin-bottom: 20px;
    position: relative;
}

.whereStation > div h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.whereStation > div h3::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #146DFA;
}

.stationFilter {
    border: 1px solid #146DFA;
}

.stationFilter li {
    flex: 1;
    font-size: 2rem;
    text-align: center;
}

.stationFilter li:hover, .stationFilter li.on {
    background-color: #146DFA;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.stationList {
    margin-top: 20px;
}

.stationList li, .popularStation li {
    width: 103px;
    margin-left: 5px;
    border: 1px solid #c4c4c4;
    margin-top: 5px;
}

.stationList li:hover, .popularStation li:hover {
    background: rgba(0, 78, 255, 0.7);
    color: white;
}

/* 탑승인원---------------------------- */

.peobtn {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.peobtn > p {
    width: 150px;
    background: #146DFA;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5px 0;
    cursor: pointer;
}

.seatOption {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #c4c4c4;
}

.seatOption select {
    width: 130px;
    font-size: 1.5rem;
    text-align: center;
    background: white;
}

.seatOption select:nth-child(2) {
    margin: 0 50px;
}

.peopleOption {
    display: flex;
    height: 300px;
}

.peopleOption h2, .peopleOption input[type=text], .peopleOption h3 {
    font-size: 2rem;
    text-align: center;
}

.peopleOption h2 {
    width: 157px;
    margin: 0 auto;
    border: 1px solid #146DFA;
}

.peopleOption p {
    font-size: 1.5rem;
    text-align: center;
}

.peopleOption span {
    display: inline-block;
    width: 40px;
    height: 100%;
    background: #146DFA;
    color: white;
    cursor: pointer;
}

.peopleOption span.on {
    background: #c4c4c4;
    cursor: unset;
}

.peopleOption input {
    width: 75px;
    border: none;
}

.age {
    width: 500px;
    border-right: 1px solid #c4c4c4;
}

.disabled {
    width: 300px;
}

.age > h3, .disabled > h3 {
    margin-top: 20px;
}

.age > div, .disabled > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.age > div > div, .disabled > div > div {
    margin: 20px;
}

/* 섹션2 ------------------------------------------------------------------------------*/
.section2 {
    margin-top: 280px;
}

.section2 h2 {
    font-size: 2rem;
    padding: 10px 5px;
}

.block1 {
    display: flex;
    justify-content: space-between;
}

.notice {
    width: 380px;
}

.notice > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #111;
}

.notice > ul {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #111;
}

.notice p, .notice li {
    font-size: 1.5rem;
    padding: 5px 0;
}

.notice li {
    padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.notice li:hover {
    text-decoration: underline;
}

.notice li::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #146DFA;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.notice li a {
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.is-ie .notice li a {
    display: block;
}

.smallbanner {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.smallbanner a {
    display: block;
}

.smallbanner img {
    width: 250px;
}

.block2 {
    margin-top: 50px;
    display: flex;
}

.sns {
    margin-left: 50px;
}

.sns ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.sns li a {
    display: block;
    font-size: 1.5rem;
    text-align: center;
}

.sns img {
    width: 75px;
}

.help ul {
    width: 750px;
    display: flex;
}

.help li {
    width: 93.75px;
    font-size: 1.5rem;
}

.help li a {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.help li a:hover {
    background: rgba(0, 0, 0, 0.1);
}
.help li:nth-child(1) {background: url(../img/ticket.svg) no-repeat center 15px / 60px;}
.help li:nth-child(2) {background: url(../img/discount.svg) no-repeat center 10px / 50px;}
.help li:nth-child(3) {background: url(../img/link.svg) no-repeat center 10px / 50px;}
.help li:nth-child(4) {background: url(../img/somthing.svg) no-repeat center 10px / 40px;}
.help li:nth-child(5) {background: url(../img/time.svg) no-repeat center 15px / 50px;}
.help li:nth-child(6) {background: url(../img/subway.svg) no-repeat center 10px / 45px;}
.help li:nth-child(7) {background: url(../img/bus.svg) no-repeat center 10px / 35px;}
.help li:nth-child(8) {background: url(../img/package.svg) no-repeat center 10px / 40px;}

.help li:nth-child(2) a, .help li:nth-child(4) a, .help li:nth-child(8) a {
    padding-bottom: 11px;
}

.is-ie .help li:nth-child(1) {background-position-y: 5px;}
.is-ie .help li:nth-child(2) {background-position-y: 10px}
.is-ie .help li:nth-child(3) {background-position-y: 10px;}
.is-ie .help li:nth-child(4) {background-position-y: 15px; background-size: 45px;}
.is-ie .help li:nth-child(5) {background-position-y: 5px;}

.block3 {
    margin-top: 50px;
}

.block3 > div {
    display: flex;
    justify-content: space-around;
}

.is-ie .block3 > div > a {
    display: block;
}

/* footer ------------------------------------------------------------------------------*/
footer {
    margin-top: 50px;
    border-top: 1px solid #111;
    background-color: #444;
}

.familysite {
    border-bottom: 1px solid #d4d4d4;
    padding: 20px;
}

.familysite > .inner{
    display: flex;
    justify-content: space-between;
}

.familysite > .inner > div {
    display: flex;
}

.familysite > .inner > div:first-child a::after {
    content: "";
    display: block;
    width: 1px;
    height: 13px;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.familysite > .inner > div:first-child a:last-child::after {
    display: none;
}

.familysite a, .familysite select {
    font-size: 1.3rem;
    color: #d4d4d4;
}

.familysite a {
    display: block;
    padding: 5px 10px;
    position: relative;
}

#siteGo {
    margin-left: 5px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
}

.familysite select {
    background-color: #444;
    border: 1px solid #d4d4d4;
}

.korailInfo {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.korailInfo img {
    width: 200px;
}

.is-ie .korailInfo img {
    height: 43px;
}

.korailInfo > div > div {
    display: flex;
}

.korailInfo > div p {
    color: #d4d4d4;
    margin-right: 10px;
    font-size: 1.3rem;
}

.copyright {
    text-align: right;
    margin-top: 5px;
}